* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.dark {
    background-color: #0B2447;
}

#navbar {
    justify-content: space-between;
    background-color: #0B2447;
    align-items: center;
}

.container {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
}

.navlinks {
    padding: 8px 24px;
}

.logo {
    padding: 8px 24px;
    font-family: 'Bruno Ace SC', serif;
    color: #A5D7E8;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: #A5D7E8;
}

.main {
    padding: 16px;
    justify-content: space-evenly;
    flex: 0;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100vh;
}

.spotlight {
    width: 600px;
    height: auto;
    flex: 0 1 auto;
    object-fit: contain;
}

.spotlight img {
    border-radius: 20px;
}

img {
    width: 100%;
    height: auto;
}

.headline {
    color: #A5D7E8;
    font-size: 2vmax;
    font-family: 'Bruno Ace SC', serif;
    max-width: 600px;
}

.gallery-head {
    color: #A5D7E8;
    font-size: 2vmax;
    font-family: 'Bruno Ace SC', serif;
    text-align: center;
}

.text {
    color: rgba(165, 215, 232, 0.8);
    padding-left: 8px;
    font-size: 1.2vmax;
    font-family: sans-serif;
}

.space {
    flex-grow: 1;
    height: 12vh;
    width: 100%;
}

.box {
    width: 200px;
}

.gallery {
    flex-direction: column;
    height: 90vh;
    justify-content: center;
}

.box-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    gap: 50px;
}

.square {
    width: 200px;
    height: 200px;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.box p {
    text-align: center;
    font-size: 1vmax;
}

.light-blue {
    background-color: #A5D7E8;
}

.quote, .quoter {
    background: #DDE6ED;
}