* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.dark {
    background-color: #0B2447;
}

#navbar {
    justify-content: space-between;
    background-color: #0B2447;
    align-items: center;
}

.container {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    border: 2px solid black;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
}

.navlinks {
    padding: 8px 24px;
}

.logo {
    padding: 8px 24px;
    font-family: 'Bruno Ace SC', serif;
    color: #A5D7E8;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: #A5D7E8;
}

.land {
    padding: 16px;
    border: 1px solid red;
    justify-content: space-evenly;
    flex: 0;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100vh;
    padding-top: 24vh;
}

img {
    width: 600px;
    height: auto;
    flex: 0 1 auto;
}

.text {
    border: 1px solid green;
}

.text h1 {
    color: #A5D7E8;
    font-size: 1.6em;
    font-family: 'Bruno Ace SC', serif;
}

.text p {
    color: rgba(165, 215, 232, 0.8);
    padding-left: 8px;
}